In [ ]:
import pandas as pd

tax_data = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/tax_payers/train_set_label.csv" )

In [ ]:
tax_data.head()

NameError: ignored

In [ ]:
tax_data.info()

NameError: ignored

No missing values.
Married, Filed in 2017, Filed in 2016 and Filed in 2015 are categorical variables.

In [ ]:
# Convert the four variables mentioned into categorical variables
tax_data["Married"] = tax_data.Married.astype("object")
tax_data["Filed in 2017"] = tax_data["Filed in 2017"].astype("object")
tax_data["Filed in 2016"] = tax_data["Filed in 2016"].astype("object")
tax_data["Filed in 2015"] = tax_data["Filed in 2015"].astype("object")

In [ ]:
tax_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 803 entries, 0 to 802
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      803 non-null    int64
 1   HHI             803 non-null    int64
 2   HHDL            803 non-null    int64
 3   Married         803 non-null    object
 4   CollegGrads     803 non-null    int64
 5   AHHAge          803 non-null    int64
 6   Cars            803 non-null    int64
 7   Filed in 2017   803 non-null    object
 8   Filed in 2016   803 non-null    object
 9   Filed in 2015   803 non-null    object
 10  PoliticalParty  803 non-null    object
dtypes: int64(6), object(5)
memory usage: 69.1+ KB

In [ ]:
# Create dummy variables for categorical variables
tax_data_new = pd.get_dummies(tax_data, columns = ["Married", "Filed in 2017", "Filed in 2016", "Filed in 2015"])
tax_data_new.head()

,Unnamed: 0,HHI,HHDL,CollegGrads,AHHAge,Cars,PoliticalParty,Married_0,Married_1,Married_2,Filed in 2017_0,Filed in 2017_1,Filed in 2016_0,Filed in 2016_1,Filed in 2015_0,Filed in 2015_1
0,61,183414,-12402,2,28,1,Democrat,0,1,0,1,0,1,0,0,1
1,501,129786,700251,5,63,3,Republican,0,0,1,1,0,1,0,1,0
2,658,268343,493411,4,44,1,Independent,0,0,1,0,1,1,0,0,1
3,703,290506,-433408,1,28,5,Republican,0,1,0,0,1,1,0,0,1
4,702,90108,907135,3,57,5,Democrat,0,1,0,0,1,0,1,1,0

In [ ]:
# Descriptive Statistics:
tax_data_new.describe()

,Unnamed: 0,HHI,HHDL,CollegGrads,AHHAge,Cars,Married_0,Married_1,Married_2,Filed in 2017_0,Filed in 2017_1,Filed in 2016_0,Filed in 2016_1,Filed in 2015_0,Filed in 2015_1
count,803.000000,803.000000,803.000000,803.000000,803.000000,803.000000,803.000000,803.000000,803.000000,803.000000,803.000000,803.000000,803.000000,803.000000,803.000000
mean,502.241594,155402.688667,-15351.252802,2.607721,60.559153,2.435866,0.337484,0.353674,0.308842,0.493151,0.506849,0.490660,0.509340,0.483188,0.516812
std,288.460068,86788.153213,595184.302049,1.675492,25.071219,1.703542,0.473146,0.478407,0.462304,0.500265,0.500265,0.500224,0.500224,0.500029,0.500029
min,1.000000,185.000000,-999994.000000,0.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,254.500000,82373.000000,-516765.000000,1.000000,38.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,501.000000,156542.000000,-24440.000000,3.000000,60.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000
75%,754.500000,230772.000000,518135.500000,4.000000,82.000000,4.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,1004.000000,299374.000000,999628.000000,5.000000,105.000000,5.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
# Split the independent and dependent variables
X = tax_data_new.drop(["Unnamed: 0", "PoliticalParty"], axis = 1)
y = tax_data_new[["PoliticalParty"]]

In [ ]:
# Split into training and testing data set
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 2)

print("Shape of original data:", tax_data_new.shape)
print("Shape of training data:", X_train.shape)
print("Shape of testing data:", X_test.shape)

Shape of original data: (803, 16)
Shape of training data: (642, 14)
Shape of testing data: (161, 14)

In [ ]:
# Create logistic regression model
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression(random_state = 2)
lr.fit(X_train, y_train)
preds_lr = lr.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
# Accuracy score
from sklearn.metrics import accuracy_score
print("Accuracy score:", accuracy_score(y_test, preds_lr))

Accuracy score: 0.3167701863354037

**Decision tree clasifier**

In [ ]:
from sklearn.tree import DecisionTreeClassifier

dt = DecisionTreeClassifier(random_state=2)
dt.fit(X_train, y_train)
preds_dt = dt.predict(X_test)

In [ ]:
# Accuracy score
print("Accuracy score:", accuracy_score(y_test, preds_dt))

Accuracy score: 0.33540372670807456

**Random Forest**

In [ ]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(random_state=2)
rf.fit(X_train, y_train)
preds_rf = rf.predict(X_test)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

In [ ]:
# Accuracy score
print("Accuracy score:", accuracy_score(y_test, preds_rf))

Accuracy score: 0.43478260869565216

**Support Vector Machines**

In [ ]:
from sklearn.svm import SVC

svc = SVC(random_state=2)
svc.fit(X_train, y_train)
preds_svc = svc.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
# Accuracy score
print("Accuracy score:", accuracy_score(y_test, preds_svc))

Accuracy score: 0.3167701863354037

Based on the 4 classification models, Random Forest has the highest accuracy.

**Test Data**

In [ ]:
test_data = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/tax_payers/test_set_label.csv')
test_data.head()

,Unnamed: 0,HHI,HHDL,Married,CollegGrads,AHHAge,Cars,Filed in 2017,Filed in 2016,Filed in 2015
0,17,253274,-633752,2,1,94,3,0,1,1
1,590,47107,322850,0,1,30,2,1,1,0
2,224,111874,300583,0,2,46,3,0,1,1
3,960,96670,107419,0,3,77,5,0,0,0
4,57,128669,341273,0,0,92,4,1,1,1

In [ ]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     201 non-null    int64
 1   HHI            201 non-null    int64
 2   HHDL           201 non-null    int64
 3   Married        201 non-null    int64
 4   CollegGrads    201 non-null    int64
 5   AHHAge         201 non-null    int64
 6   Cars           201 non-null    int64
 7   Filed in 2017  201 non-null    int64
 8   Filed in 2016  201 non-null    int64
 9   Filed in 2015  201 non-null    int64
dtypes: int64(10)
memory usage: 15.8 KB

In [ ]:
# Convert the four variables mentioned into categorical variables
test_data["Married"] = test_data.Married.astype("object")
test_data["Filed in 2017"] = test_data["Filed in 2017"].astype("object")
test_data["Filed in 2016"] = test_data["Filed in 2016"].astype("object")
test_data["Filed in 2015"] = test_data["Filed in 2015"].astype("object")

In [ ]:
test_data_new = pd.get_dummies(test_data, columns = ["Married", "Filed in 2017", "Filed in 2016", "Filed in 2015"])
test_data_new = test_data_new.drop("Unnamed: 0", axis=1)
test_data_new.head()

,HHI,HHDL,CollegGrads,AHHAge,Cars,Married_0,Married_1,Married_2,Filed in 2017_0,Filed in 2017_1,Filed in 2016_0,Filed in 2016_1,Filed in 2015_0,Filed in 2015_1
0,253274,-633752,1,94,3,0,0,1,1,0,0,1,0,1
1,47107,322850,1,30,2,1,0,0,0,1,0,1,1,0
2,111874,300583,2,46,3,1,0,0,1,0,0,1,0,1
3,96670,107419,3,77,5,1,0,0,1,0,1,0,1,0
4,128669,341273,0,92,4,1,0,0,0,1,0,1,0,1

In [ ]:
target = rf.predict(test_data_new)
res = pd.DataFrame(target)
res.index = test_data_new.index
res.columns = ["prediction"]
res.to_csv("prediction_results.csv", index = False)